/* 
    Created on : 17.12.2018, 17:09:32
    Author     : Игорь
*/

* {
    margin: 0;
    padding: 0;
}

#navbar {
    position: fixed;
    margin-left: 1em;
    
}

#main-doc {
    position: relative;
    margin-left: 18em;
}

code {
 
    
}
