/* 
    Created on : 17.12.2018, 17:09:32
    Author     : Игорь
*/

* {
    margin: 0;
    padding: 0;
}

#page {
    display: flex;
}

#navbar {
    position: fixed;
    top: 0;
    margin-left: 1em;
}

#main-doc {
    margin-left: 15em;
}


@media (max-width: 640px) {
    #page {
        display: flex;
        flex-direction: column;
    }

    #navbar {
        position: static;    
    }

    #main-doc {
        margin-left: 1em;
    }
}
